.recipe-card {
  width: 22%;
  height: 510px;
  margin: 0.5%;
  float: left;
  text-align: center;
  background-color: "";
}
.recipe-card img {
  width: 80%;
}
.recipe-content {
  text-align: justify;
}
/* 
.recipe-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
} */
