<div>
  <mat-card
    class="recipe-card"
    *ngFor="let item of categories$ | async"
    [routerLink]="['/category', 'c=' + item.strCategory]"
  >
    <mat-card-header>
      <!-- <div mat-card-avatar class="recipe-header-image"></div> -->
      <mat-card-title>{{ item.strCategory }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ item.strCategoryThumb }}" />
    <mat-card-content class="recipe-content">
      <p>{{ item.strCategoryDescription }}</p></mat-card-content
    >
  </mat-card>
</div>
