.navigation {
  width: 100%;
  float: right;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navi li {
  list-style: none;
  float: right;
  margin: 0 2%;
  margin-bottom: 17.5px;
  cursor: pointer;
}

.active {
  color: red;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    float: right;
    display: block;
  }
}
